<div class="header">
  <h1 >Welcome to Application</h1>
</div>




<mat-horizontal-stepper linear>

  <mat-step [stepControl]="formGroup1">
    <form [formGroup]="formGroup1">
      <mat-form-field>
        <input matInput placeholder="Enter First Name" formControlName="firstCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter Last Name" formControlName="firstCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input text='email' matInput placeholder="Enter email" formControlName="firstCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter Home address" formControlName="firstCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter College name" formControlName="firstCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter College address" formControlName="firstCtlr" required>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </form>
  </mat-step>

  
  <mat-step [stepControl]="formGroup2">
    <form [formGroup]="formGroup2">
      <mat-form-field>
        <input matInput placeholder="Enter your Address" formControlName="secondCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter Last Name" formControlName="secondCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input text='email' matInput placeholder="Enter email" formControlName="secondCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter Address" formControlName="secondCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter College name" formControlName="secondCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter College address" formControlName="secondCtlr" required>
      </mat-form-field>
      <br>
      <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
</form>
</mat-step>

<mat-step [stepControl]="formGroup3">
  <form [formGroup]="formGroup3">
    <mat-form-field>
      <input matInput placeholder="Enter your Address" formControlName="thirdCtlr" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Enter Last Name" formControlName="thirdCtlr" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input text='email' matInput placeholder="Enter email" formControlName="thirdCtlr" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Enter Address" formControlName="thirdCtlr" required>
    </mat-form-field>
    <br>
      <mat-form-field>
        <input matInput placeholder="Enter College name" formControlName="thirdCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter College address" formControlName="thirdCtlr" required>
      </mat-form-field>
    <br>
    <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
</form>
</mat-step>

 <mat-step [stepControl]="formGroup4">
  <form [formGroup]="formGroup4">
    <mat-form-field>
      <input matInput placeholder="Enter your Address" formControlName="forthCtlr" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Enter Last Name" formControlName="forthCtlr" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input text='email' matInput placeholder="Enter email" formControlName="forthCtlr" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Enter Address" formControlName="forthCtlr" required>
    </mat-form-field>
    <br>
      <mat-form-field>
        <input matInput placeholder="Enter College name" formControlName="forthCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter College address" formControlName="forthCtlr" required>
      </mat-form-field>
    <br>
    <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
</form>
</mat-step>

<mat-step [stepControl]="formGroup5">
  <form [formGroup]="formGroup5">
    <h1>Congratulations on completing the Application form! </h1>
    
    
    
    <br>
    <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
    
</form>
</mat-step> 
</mat-horizontal-stepper>
